@import '@styles/mixins';
@import '@styles/variables';

.header {
  --hero-height: 42svh;
  --hero-landscape-height: 90svh;

  height: var(--header-height);

  &--hero {
    position: relative;
    height: var(--hero-height);
    background-position: right bottom;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: contain, auto 100%;
    overflow: hidden;

    @media only screen and (min-width: $medium) {
      --hero-height: 67svh;
    }

    @include landscape() {
      height: var(--hero-landscape-height);
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: var(--header-height);
    width: calc(100% - (var(--content-padding) * 2));
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: var(--content-padding) 0;
    border-bottom: 1px solid var(--color-border-light-grey);
    z-index: 6;

    h1 {
      height: 100%;
      margin: 0 auto 0 0;
      position: relative;
      z-index: 7;
    }

    @media only screen and (min-width: $medium) {
      margin: 0 0 0 var(--content-padding);
      padding: calc(var(--content-padding) / 2) 0;
      width: calc(100% - (var(--content-padding) * 2));
    }

    @media only screen and (min-width: $x-large) {
      max-width: calc(var(--max-content-width) - (var(--content-padding) * 2));
    }
  }
}

.hero {
  @media only screen and (min-width: $medium) {
    width: 100%;
    max-width: 100vw;
  }

  @media only screen and (min-width: $x-large) {
    width: 100%;
    max-width: 100vw;
  }

  &__title {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: end;
    justify-items: baseline;
    color: var(--color-white);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
    padding: var(--content-padding);
    margin: 0;
    z-index: 5;

    h2 {
      font-size: clamp(2rem, 8vw, 5.5rem);
      font-weight: 700;

      max-width: 69%;

      @media only screen and (min-width: $medium) {
        font-size: clamp(1.6rem, 6vw, 4.2rem);
        max-width: 50%;
      }

      @include landscape() {
        font-size: clamp(2rem, 7vw, 5rem);
      }
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--hero-height);
    z-index: 4;

    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain, cover;

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--hero-height);
      background: linear-gradient(
        to bottom,
        rgba(43, 43, 35, 0.75),
        rgba(0, 0, 0, 0.15)
      );

      @include landscape() {
        height: var(--hero-landscape-height);
      }
    }

    @include landscape() {
      height: var(--hero-landscape-height);
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
