@import '@styles/mixins';
@import '@styles/variables';

.header {
  --hero-height: 40svh;
  --hero-landscape-height: 75svh;

  height: var(--header-height);

  &--hero {
    position: relative;
    height: var(--hero-height);
    background-position: right bottom;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: contain, auto 100%;
    overflow: hidden;

    @media only screen and (min-width: $medium) {
      --hero-height: 47svh;
    }

    @include landscape() {
      height: var(--hero-landscape-height);
    }
  }

  &--regular {
    @include min-width($medium) {
      --content-spacing: 3.75rem;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: calc(var(--header-height) * 1.1);
    width: calc(100% - (var(--content-spacing) * 2));
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: var(--content-spacing) 0;

    h1 {
      height: 100%;
      margin: 0 auto 0 0;
      position: relative;
      z-index: 7;

      img {
        height: 100%;
        width: auto;
      }
    }

    @media only screen and (min-width: $medium) {
      margin: 0 var(--content-spacing);
      padding: 1.875rem 0;
      width: calc(100% - (var(--content-spacing) * 2));
      max-height: var(--header-height);
    }

    @media only screen and (min-width: $x-large) {
      max-width: calc(var(--max-content-width) - (var(--content-spacing) * 2));
    }
  }
}

.hero {
  @media only screen and (min-width: $medium) {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
  }

  // @media only screen and (min-width: $x-large) {
  //   width: 100%;
  //   max-width: 100vw;
  // }

  &__background {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: var(--max-content-width);
    // margin: 0 auto;
    height: var(--hero-height);
    z-index: 4;

    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain, cover;

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to bottom,
        rgba(43, 43, 35, 0.75),
        rgba(0, 0, 0, 0.1)
      );

      @include landscape() {
        height: var(--hero-landscape-height);
      }
    }

    @include landscape() {
      height: var(--hero-landscape-height);
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
