.image__wrapper {
  position: relative;
  width: 100%;
  height: min-content;
  overflow: hidden;

  &.inMasonry {
    // for using the '@fristys/masonry' package
    // height: inherit;
  }

  [class*='column_two'] > & + &,
  [class*='content_wrapper'] > & + & {
    margin-top: var(--content-section-gap);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
