@import '@styles/mixins';
@import '@styles/variables';

.card {
  position: relative;
  z-index: 5;
  background: var(--color-off-white);
  color: var(--color-dark-grey);

  @media only screen and (min-width: $medium) {
    min-height: 80vh;
  }

  &--image-right,
  &--image-left {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      'content'
      'image';
  }

  @media only screen and (min-width: $medium) {
    grid-template-columns: 1fr 1fr;

    &--image-right {
      grid-template-areas: 'content image';
    }

    &--image-left {
      grid-template-areas: 'image content';
    }
  }

  &:first-child {
    margin-top: calc(var(--content-padding) * -1);
  }

  &--full {
    width: 100vw;
    margin: 0 calc(var(--content-padding) * -1);

    & .card__content {
      max-width: 100%;
    }
  }

  &__content {
    grid-area: content;

    @media only screen and (min-width: $medium) {
      min-height: 80vh;
    }

    &--image-bottom,
    &--image-top {
      display: flex;
    }

    &--image-bottom {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &--image-top {
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }

    &--image-right {
    }
  }

  &__body {
    padding: 0;
    max-width: 75%;
  }

  &__text {
  }

  &__image {
    background-color: var(--color-dark-grey);
    grid-area: image;

    &--top,
    &--bottom {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    // diagonal clip paths
    &--bottom {
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

    &--top {
      clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    &--right {
    }

    > div {
      height: 100%;
    }
  }
}
