.bg_image__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bg_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  text-indent: -9999px;

  &.image--center {
    background-position: center;
  }

  &.image--left {
    background-position: left;
  }

  &.image--right {
    background-position: right;
  }

  &.image--top {
    background-position: top;
  }

  &.image--bottom {
    background-position: bottom;
  }
}
