@import '../../styles/variables';

// 'landscape_x_landscape',
// 'landscape_x_portrait',
// 'portrait_x_landscape',
// 'portrait_x_portrait',

.media_grid {
  display: grid;
  grid-gap: var(--media-grid-gap);
  width: 100%;
  margin-bottom: var(--media-grid-gap);

  img {
    display: block;
  }

  & + .img_grid {
    margin-top: var(--media-grid-gap);
  }

  div:nth-child(1) {
    grid-area: one;
  }

  div:nth-child(2) {
    grid-area: two;
  }

  div:nth-child(3) {
    grid-area: three;
  }

  > div {
    margin-bottom: 0;
    height: 100%;
  }
}

.landscape_x_landscape,
.portrait_x_portrait {
  grid-template-areas:
    'one'
    'two';

  @media only screen and (min-width: $small-medium) {
    grid-template-areas: 'one two';
  }
}

.portrait_x_landscape {
  grid-template-columns: 2.5fr 6.4fr;
}

.landscape_x_portrait {
  grid-template-columns: 6.4fr 2.5fr;
}

.auto {
  grid-template-columns: auto;

  &--2 {
    grid-template-areas:
      'one'
      'two';

    @media only screen and (min-width: $small-medium) {
      grid-template-areas: 'one two';
    }
  }

  &--3 {
    grid-template-areas:
      'one'
      'two'
      'three';

    @media only screen and (min-width: $small-medium) {
      grid-template-areas:
        'one one'
        'two three';
    }

    @media only screen and (min-width: $medium) {
      grid-template-areas: 'one two three';
    }
  }
}

.three_by_one {
  grid-template-areas:
    'one'
    'two'
    'three';

  @media only screen and (min-width: $medium) {
    grid-template-areas:
      'one two'
      'three three';
  }

  @media only screen and (min-width: $large) {
    grid-template-areas: 'one two three';
  }
}
