@import '@styles/mixins';

.text_block {
  @include container();
  gap: 0.5rem;
  padding: 0;
  margin: var(--content-section-gap) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & > & {
    padding-right: 0;
    padding-left: 0;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
