@import '@styles/typography';
@import '@styles/variables';
@import '@styles/mixins';

// $type-base-size: 1rem;

:root {
  --header-height: 5.75rem;
  --max-content-width: 1600px;

  --content-spacing: 1.875rem;
  --content-section-gap: 1.5rem;
  --content-gap: 1.875rem;
  --gutter: 0.5rem;
  --media-grid-gap: 0.5rem;

  --color-dark-grey: #2b2b23;
  --color-light-grey: #38382e;
  --color-border-light-grey: #acacac;
  --color-white: #fff;
  --color-off-white: #fffaf0;
  --color-bmw-blue: #0166b1;
  --color-vw-jazz-blue: #3e72ec;
  --color-fl-gr-black: #262022;
  --color-fl-gr-red: #ef0027;

  --breakpoint-small: 350px;
  --breakpoint-small-medium: 460px;
  --breakpoint-medium: 750px;
  --breakpoint-large: 1024px;
  --breakpoint-x-large: 1280px;
  --breakpoint-xx-large: 1600px;

  --border-radius: 5px;

  --gradient-dark: linear-gradient(
    0deg,
    rgba(43, 43, 35, 1) 18%,
    rgba(56, 56, 46, 1) 100%
  );

  --gradient-blue: linear-gradient(
    0deg,
    rgba(3, 102, 177, 1) 0%,
    rgba(62, 114, 236, 1) 100%
  );
}

@include min-width($medium) {
  :root {
    --header-height: 8.25rem;
  }
}

@include min-width($large) {
  :root {
    --content-spacing: 3.125rem;
    --content-section-gap: 1.5rem;
    --content-gap: 3.125rem;
    --gutter: 0.5rem;
    --media-grid-gap: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    // define/override dark mode colors here
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: $type-base-size;
  line-height: 1.5;
  background-color: var(--color-off-white);
  font-family: var(--font-maven-pro);
}

body {
  color: var(--color-dark-grey);
  // font-family: var(--font-jost);
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: underline;
}

img {
  display: block;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
