@import '@styles/mixins';
@import '@styles/variables';

.nav {
  ul {
    list-style: none;

    li {
      display: block;
    }
  }

  a {
    color: var(--color-dark-grey);
  }

  @media only screen and (max-width: calc($medium - 1px)) {
    a {
      color: var(--color-off-white);
    }
  }

  &__primary {
    --nav-button-height: 2rem;

    position: absolute;
    top: 0;
    right: 0;
    padding: calc(var(--content-spacing) / 2) 0;
    width: 100%;
    height: 100%;

    .nav__menu {
      font-size: 2.3rem;
      width: 100vw;
      position: fixed;
      z-index: 6;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      height: calc(var(--header-height));
      padding: var(--header-height) var(--content-spacing)
        var(--content-spacing);
      transition: all 0.2s ease-in-out;
      background: var(--gradient-dark);
    }

    a {
      pointer-events: none;
    }
  }

  &__footer {
    .nav__menu {
      gap: 1rem;
      flex-direction: column;
      font-size: 1.375rem;

      @include min-width($medium) {
        flex-direction: row;
        justify-content: end;
        gap: 2rem;
        font-size: 1.5rem;
      }
    }

    a {
      color: var(--color-off-white);
    }
  }

  &__menu {
    display: flex;
    background-repeat: no-repeat;
    font-weight: 500;
  }

  &__menu_icon {
    position: absolute;
    width: 2.375rem;
    height: 2.375rem;
    opacity: 1;

    &__middle {
      fill: var(--color-fl-gr-yellow);
    }
    &__top_bottom {
      fill: var(--color-dark-grey);
    }
  }

  &--hero {
    .nav__menu_icon {
      &__top_bottom {
        fill: var(--color-off-white);
      }
    }
  }

  &__close_icon {
    position: absolute;
    right: -3em;
    top: 0.25rem;
    height: 2rem;
    width: 2rem;
    opacity: 0;

    &__main_line {
      fill: none;
      stroke: #ffd500;
      stroke-width: 7;
      stroke-miterlimit: 10;
    }

    &__secondary_line {
      fill: none;
      stroke: #393939;
      stroke-width: 2;
      stroke-miterlimit: 10;
    }
  }

  &__toggle {
    position: absolute;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer;
    margin: 0;
    top: calc(var(--header-height) / 2 - (var(--nav-button-height) / 2));
    right: 0;
    z-index: 10;
  }

  &__checkbox {
    display: none;

    @media only screen and (max-width: calc($medium - 1px)) {
      &:checked {
        & ~ .nav__menu {
          position: fixed;
          opacity: 1;
          pointer-events: all;
          height: 100vh;
          z-index: 8;

          a {
            pointer-events: all;
          }
        }

        & ~ .nav__toggle {
          .nav__close_icon {
            opacity: 1;
            right: 0.15rem;
          }
          .nav__menu_icon {
            opacity: 0;
          }
        }
      }
    }
  }

  // Desktop view
  @media only screen and (min-width: $medium) {
    &__primary {
      display: flex;
      position: inherit;
      width: auto;
      height: auto;
      right: inherit;
      top: inherit;
      padding: 0;

      .nav__menu {
        position: inherit;
        width: auto;
        height: auto;
        opacity: 1;
        padding: 0;
        background: transparent;
        flex-direction: row;
        font-size: 1.375rem;
      }

      a {
        text-decoration: none;
        pointer-events: all;
      }
    }

    &__toggle {
      display: none;
    }

    &__menu {
      flex-direction: row;
      font-size: 0.95rem;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    &--hero {
      a {
        color: var(--color-off-white);
      }
    }
  }
}
