@import '@styles/mixins';

.footer {
  border-top: 1px solid var(--color-light-grey);
  color: var(--color-dark-grey);
  background: var(--color-off-white);
  position: relative;
  z-index: 5;
}

.footer__content {
  display: flex;
  flex-direction: column;
  @include container();
  padding: var(--content-spacing);
  max-width: var(--max-content-width);
  margin: 0 auto;
}
