@import '@styles/mixins';
@import '@styles/variables';

.contentBlock {
  @include container();
  display: grid;
  gap: var(--content-gap);
  grid-template-areas:
    'content'
    'image';
  padding-top: var(--content-spacing);

  &--image-right {
    .contentBlock__image {
      margin-right: var(--content-spacing);
    }
  }

  &--image-left {
    .contentBlock__image {
      margin-left: var(--content-spacing);
    }
  }

  &__content {
    grid-area: content;
    padding: 0 var(--content-spacing);

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__image {
    grid-area: image;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h2 {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    gap: 1.33rem;
    word-break: keep-all;
    text-transform: uppercase;

    &:after {
      float: left;
      content: '';
      display: block;
      width: 33%;
      max-width: 10.625rem;
      min-width: 6.25rem;
      height: 1.5625rem;
      background: linear-gradient(
        to right,
        #0166b1 33.3%,
        #4d5055 33.3%,
        #4d5055 66.6%,
        #02061a 66.6%
      );
    }
  }

  h3 {
    margin-top: 1.5rem;
  }

  @include min-width($medium) {
    display: block;

    &__image {
      width: 58%;
    }

    &--image-right {
      .contentBlock__image {
        float: right;
        margin: 0 0 calc(var(--content-spacing) * 0.65) var(--content-spacing);
      }
    }

    &--image-left {
      .contentBlock__image {
        float: left;
        margin: 0 var(--content-spacing) calc(var(--content-spacing) * 0.65) 0;
      }

      .contentBlock__content {
        > a {
          float: right;
        }
      }
    }
  }
}
