@import '@styles/mixins';
@import '@styles/variables';

.main {
  position: relative;
  min-height: 70vh;
  z-index: 5;
  padding: 0 0 var(--content-spacing) 0;
  background-color: var(--color-white);
}

.content_wrapper {
  --page-padding: 1.875rem;

  display: grid;
  grid-template-areas:
    'one'
    'two';
  gap: var(--content-spacing);

  @include min-width($medium) {
    --page-padding: 3.75rem;

    grid-template-areas: 'two one';
    grid-template-columns: calc(70% - (var(--content-spacing) / 2)) calc(
        30% - (var(--content-spacing) / 2)
      );
    gap: var(--content-spacing);
  }

  width: calc(100% - (var(--page-padding) * 2));
  margin: 0 var(--page-padding);
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--page-padding) 0;
}

.column_one {
  grid-area: one;
  padding: 0 0 var(--content-spacing);
  border-bottom: 1px solid var(--color-border-light-grey);

  @include min-width($medium) {
    border-bottom: none;
  }
}

.column_two {
  grid-area: two;
}
