@import '@styles/mixins';
@import '@styles/variables';

.main {
  position: relative;
  padding: 0 0 var(--content-spacing) 0;
  z-index: 5;
  background-color: var(--color-off-white);

  @include min-width($medium) {
  }
}

.content_wrapper {
  max-width: var(--max-content-width);
  margin: 0 auto;
}
